@import "./root.css";

.duration-div {
  background-color: var(--secondary-blue);
  width: 60em;
  margin: 3em;
  padding: 2em;
  border-radius: 5px;
  position: relative;
}

.duration-div::before,
.duration-div::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--background-blue),
    var(--secondary-blue),
    var(--detail-purple),
    var(--secondary-blue),
    var(--background-blue)
  );
  border-radius: inherit;
  animation: rotation 15s linear infinite;
}
.duration-div::after {
  filter: blur(3.5em);
}
.duration-head {
  margin-left: 3em;
  color: var(--detail-white);
  margin-top: 3em;
  width: 40em;
}
canvas.duration-chart {
  animation: drop-in 0.5s ease 200ms backwards;
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
