@import "./root.css";

.duration-sect {
  background-color: var(--secondary-blue);
  width: 60em;
  margin: 2em;
  padding: 2em;
  border-radius: 5px;
  position: relative;
}

.duration-sect::before,
.duration-sect::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--background-blue),
    var(--secondary-blue),
    var(--detail-purple),
    var(--secondary-blue),
    var(--background-blue)
  );
  border-radius: inherit;
  animation: rotation 15s linear infinite;
}
.duration-sect::after {
  filter: blur(3.5em);
}
.duration-h2 {
  color: var(--detail-white);
}
