@import "./root.css";

.release-sect {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 2em;
}
.release-sect > * {
  background-color: var(--secondary-blue);
  padding: 1em;
  margin: 0.5em;
  border-radius: 5px;
  width: 40em;
}
.release-h2 {
  color: var(--detail-white);
  font-size: 18px;
}
.release {
  position: relative;
}

.release::before,
.release::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--background-blue),
    var(--secondary-blue),
    var(--detail-purple),
    var(--secondary-blue),
    var(--background-blue)
  );
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}
.release::after {
  filter: blur(3.5em);
}
