@import "./root.css";

.release-sect {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2.5em;
  gap: 3em;
  flex-direction: column;
}
.release-sect > *.release {
  background-color: var(--secondary-blue);
  padding: 1em;
  border-radius: 5px;
  width: 60em;
}

.release {
  position: relative;
}

.release::before,
.release::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--background-blue),
    var(--secondary-blue),
    var(--detail-purple),
    var(--secondary-blue),
    var(--background-blue)
  );
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}
.release::after {
  filter: blur(3.5em);
}
.head {
  width: 40em;
  color: var(--detail-white);
  margin-top: 3em;
}
.head > p {
  font-weight: 300;
}

canvas.release-chart {
  animation: drop-in 0.5s ease 250ms backwards;
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
